DB_URL="postgresql://visomi_stack:visomi_stack@localhost/visomi_stack"

SESSION_SECRET="superSecretKey"
JWT_ACCESS_SECRET="superSecretKey"
JWT_ID_SECRET="superSecureSecretKey"
JWT_REFRESH_SECRET="superSuperSecureSecretKey"

REDIS_URL="redis://:@localhost:6379/0"

GOOGLE_RECAPTCHA_SECRET_KEY="*******************************"
