<div [formGroup]="form()" class="control flex h-full flex-col gap-1">
  @if (label()) {
    <label [for]="id()">
      {{ label() }}
    </label>
  }

  <textarea
    [id]="id()"
    [name]="name()"
    [formControlName]="name()"
    [placeholder]="placeholder()"
    class="w-full flex-1 appearance-none rounded-md border-2 border-slate-300 bg-transparent px-3 py-2 text-justify placeholder:text-slate-400 focus:border-primary focus:outline-none disabled:cursor-not-allowed disabled:opacity-50"
    [ngClass]="$inputClass()"
    [attr.pattern]="pattern()"
    [attr.autocomplete]="autocomplete()"
    [attr.maxlength]="maxLength()"
    [attr.minlength]="minLength()"
    [rows]="rows()"
    [cols]="cols()"
    [attr.required]="requiredAttr()"
    [attr.readonly]="readonlyAttr()"
  ></textarea>

  @if (error()) {
    <p class="error overflow-hidden text-red-400 transition-all">
      {{ error() }}
    </p>
  }
  @if (help()) {
    <p class="text-xs text-slate-500">
      {{ help() }}
    </p>
  }

  <ng-content />
</div>
