@import '../../../../styles.base.css';

html,
body {
  min-height: 100%;
}

button,
input,
textarea {
  font: inherit;
}

input,
textarea,
select {
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
