<div [formGroup]="form()" class="control flex flex-col gap-1">
  @if (label()) {
    <label [for]="id()">
      {{ label() }}
    </label>
  }

  <div class="relative flex flex-col gap-1">
    <input
      [id]="id()"
      [name]="name()"
      [formControlName]="name()"
      [type]="type()"
      [placeholder]="placeholder()"
      class="w-full appearance-none rounded-md border-2 border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400 focus:border-primary focus:outline-none disabled:cursor-not-allowed disabled:opacity-50"
      [ngClass]="{
        'pointer-events-none relative flex items-center justify-center bg-opacity-90 !text-transparent after:absolute after:block after:h-[1em] after:w-[1em] after:animate-spin after:rounded-full after:border-2 after:border-r-transparent after:border-t-transparent':
          loading(),
      }"
      [attr.pattern]="pattern()"
      [attr.autocomplete]="autocomplete()"
      [attr.minlength]="8"
      [attr.maxlength]="64"
      [attr.required]="true"
    />

    <app-icon
      [tabindex]="value().length === 0 ? -1 : 0"
      [icon]="icon()"
      class="absolute right-3 top-2.5 h-6 w-6 cursor-pointer rounded-md transition-all focus:outline focus:outline-1 focus:outline-offset-2 focus:outline-primary disabled:opacity-50"
      [ngClass]="{
        'pointer-events-none opacity-0': value().length === 0,
      }"
      (keyup)="toggleType($event)"
      (click)="toggleType()"
    />

    @if (error()) {
      <p class="error overflow-hidden text-red-400 transition-all">
        {{ error() }}
      </p>
    }

    @if (help()) {
      <p class="text-xs text-opacity-75">
        {{ help() }}
      </p>
    }
  </div>

  <ng-content />
</div>
