<p class="text-xs text-slate-500" i18n>La contraseña debe contener al menos:</p>

<ul role="list" class="mt-1">
  <li class="flex items-center gap-1">
    <app-icon
      class="flex h-3 w-3 items-center justify-center rounded-full border transition-all"
      [ngClass]="{
        'border-green-600 text-green-600 dark:border-green-500 dark:text-green-500':
          hasUpperCase(),
        'border-slate-500 text-transparent dark:border-slate-400':
          !hasUpperCase(),
      }"
      icon="check"
    />

    <span
      class="pb-[0.045rem] text-xs transition-all"
      [ngClass]="{
        'text-green-600 line-through dark:text-green-500': hasUpperCase(),
        'text-opacity-75': !hasUpperCase(),
      }"
      i18n
    >
      1 Mayúscula
    </span>
  </li>

  <li class="flex items-center gap-1">
    <app-icon
      class="flex h-3 w-3 items-center justify-center rounded-full border transition-all"
      [ngClass]="{
        'border-green-600 text-green-600 dark:border-green-500 dark:text-green-500':
          hasLowerCase(),
        'border-slate-500 text-transparent dark:border-slate-400':
          !hasLowerCase(),
      }"
      icon="check"
    />

    <span
      class="pb-[0.045rem] text-xs transition-all"
      [ngClass]="{
        'text-green-600 line-through dark:text-green-500': hasLowerCase(),
        'text-opacity-75': !hasLowerCase(),
      }"
      i18n
    >
      1 Minúscula
    </span>
  </li>

  <li class="flex items-center gap-1">
    <app-icon
      class="flex h-3 w-3 items-center justify-center rounded-full border transition-all"
      [ngClass]="{
        'border-green-600 text-green-600 dark:border-green-500 dark:text-green-500':
          hasNumber(),
        'border-slate-500 text-transparent dark:border-slate-400': !hasNumber(),
      }"
      icon="check"
    />

    <span
      class="pb-[0.045rem] text-xs transition-all"
      [ngClass]="{
        'text-green-600 line-through dark:text-green-500': hasNumber(),
        'text-opacity-75': !hasNumber(),
      }"
      i18n
    >
      1 Número
    </span>
  </li>

  <li class="flex items-center gap-1">
    <app-icon
      class="flex h-3 w-3 items-center justify-center rounded-full border transition-all"
      [ngClass]="{
        'border-green-600 text-green-600 dark:border-green-500 dark:text-green-500':
          hasSpecialCharacter(),
        'border-slate-500 text-transparent dark:border-slate-400':
          !hasSpecialCharacter(),
      }"
      icon="check"
    />

    <span
      class="pb-[0.045rem] text-xs transition-all"
      [ngClass]="{
        'text-green-600 line-through dark:text-green-500':
          hasSpecialCharacter(),
        'text-opacity-75': !hasSpecialCharacter(),
      }"
      i18n
    >
      1 Carácter especial (Ej. $-.<,%?=)
    </span>
  </li>

  <li class="flex items-center gap-1">
    <app-icon
      class="flex h-3 w-3 items-center justify-center rounded-full border transition-all"
      [ngClass]="{
        'border-green-600 text-green-600 dark:border-green-500 dark:text-green-500':
          hasMoreThan8Characters(),
        'border-slate-500 text-transparent dark:border-slate-400':
          !hasMoreThan8Characters(),
      }"
      icon="check"
    />

    <span
      class="pb-[0.045rem] text-xs transition-all"
      [ngClass]="{
        'text-green-600 line-through dark:text-green-500':
          hasMoreThan8Characters(),
        'text-opacity-75': !hasMoreThan8Characters(),
      }"
      i18n
    >
      Más de 8 dígitos
    </span>
  </li>
</ul>
